.menu__list_item {
   list-style-type: none;
}

.menu__list_link {
   text-decoration: none;
   color: #2B2B43;
   cursor: pointer;
}

.menu__list_link:hover {
   color: #7b7be6;
}

.menu__list_link:active {
   color: #4d11f0;
   
}