.select__sort {
   height: 17px;
   margin-top: 11px;
   margin-left: 25%;
}

.select__sort_option {
   font-weight: 600;
   font-size: 13px;
   line-height: 18px;
   color: #83859C;
}

.select__sort_select {
   background-color: #ffffff;
   border: 1px solid #C7C8D2;
   border-radius: 8px;
   padding: 7px 7px;
}

.select__sort_select::-ms-expand {
   display: none;
}