.header__menu_images {
   display: flex;
   justify-content: space-between;
   margin-left: 24px;
}

.avatarka {
   margin-left: 16px;
}

.mini__menu,
.divider {
   display: none;
}

.header__menu_images img {
   margin-top: 15px;
   width: 48px;
   height: 48px;
}